.Right--Wrapper {
	background-color: #fff;

	@media (min-width: 1120px) {
		flex-grow: 1;
		border-top-left-radius: 50px;
		border-bottom-left-radius: 50px;
	}

	padding: 50px;

	.Stack__Title,
	.Result--Title {
		font-weight: 700;
		font-size: 25px;
		margin-top: 0;
		margin-bottom: 1rem;
	}

	.Stack--Wrapper {
		display: flex;
		flex-direction: column;

		.Stack--Function {
			align-self: flex-end;
			display: flex;
		}
	}

	.Result {
		display: flex;
		flex-direction: column;

		.Result--Content {
			width: 100%;
			border: 1px dashed #ccc;
			border-radius: 20px;
			height: 30vh;
			display: flex;
			flex-direction: column;
		}

		.Result--Utils {
			align-self: flex-end;
			display: flex;
		}
	}
}
