@import 'normalize.css';
:root {
	--primary-color: #212529;
}

body {
	background-color: #feecf6;
	font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
		'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

a {
	color: var(--primary-color); /* Change it when use a global color */
	text-decoration: none;
}
